---
---

@import "minima";

.page-content {
    background-color: white;
}

#plot {
    width: 340px;
    float: right;
}

.profile {
    width: 150px;
    padding: 13px;
    float: left;
}

.profile-img {
    border-radius: 50%;
}

figcaption {
    text-align: center;
}
